
			

 <div class="py-5 text-center" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/cover_event.jpg&quot;);">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-primary">Movie Hunt</h1>
          <p class="lead mb-5"> </p>
			<input type="text"  placeholder="Enter movie name" [(ngModel)]="searchedText" name="search">
      <button type="button" (click)="searchMovie()" class="btn btn-primary">Search</button>
     
        </div>
      </div>
    </div>
  </div>




